<form [formGroup]="form">
  <label>search phrase</label>
  <input formControlName="searchWord" />
  <br />
  <label>replace with</label>
  <input formControlName="replaceWord" />
  <br />
  <button type="button" (click)="search()">search</button>
  <button type="button" (click)="replaceOne()">replace</button>
  <button type="button" (click)="replaceAll()">replace all</button>
</form>

<li>
  <div *ngFor="let item of results">
    <ol [innerHtml]="item.title  + ': ' + item.snippet"></ol>
  </div>
</li>
